<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camp Review</title>
    
    <!-- Bootstrap  -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- ^ Bootstrap  ^ -->

    <!-- Mapbox -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' /> 
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
    <!-- ^ Mapbox ^ -->

    

</head>
<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
    
    <main class="container mt-5">
        <%- include('../partials/success')%>
        <%- body %>
        
    </main>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="/scripts/formValidation.js"></script>
    <!-- ^ Bootstrap  ^ -->

    <!-- For nav -->
    <link rel="stylesheet" href="/stylesheets/navbaractive.css">
    <script src="/scripts/navActive.js"></script>
    <!-- For nav -->

    <%- include('../partials/footer')%>
    
       
    

    

</body>
    
</html>

<!--  -->