<% layout('layouts/boilerplate.ejs')%>
<body>
    <div class="row">
        <div class="cols-6">
            <div class="alert alert-danger" role="alert">
                <%=message%>
                <br>
                <% if(process.env.NODE_ENV !== "production") { %>
                    <%=e.stack%>
                <% } %>
                
            </div>
        </div>
    </div>
</body>
